# ! ATTENTION !
# do NOT set db password variables (such as DB_ROOT_PASSWORD and DB_USER_PASSWORD)
# those values should be specified, respectively, in:
# - docker/secrets/db_root_password.secret.txt
# - docker/secrets/db_user_password.secret.txt

#database
DATABASE_TABLE_PREFIX=wp_
DATABASE_NAME=${DATABASE_TABLE_PREFIX}spin8
DATABASE_USER=spin8

#ports
WEBSERVER_PORT=8080
DATABASE_PORT=3306

#services versions
MARIADB_VERSION=latest
#the following three vars are used to build an image name.
#Make sure to use versions that actually have an image available on Docker Hub (https://hub.docker.com/_/wordpress/tags)
WORDPRESS_VERSION=6.2.2 #do NOT use 'latest'. Use beta-x.y to use beta version of wordpress
PHP_VERSION=8.2 #do NOT use 'latest'
WEBSERVER_VERSION=apache #values are apache, fpm, fpm-alpine

#test plugin relative path from /var/www/html/
TEST_PLUGIN_PATH=wp-content/plugins/spin8-test/